<nav class="flexy-navbar">
    <div class="navbar-container">
        <a class="navbar-brand" href="">Flexybook</a>
        <div class="navbar-menu">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Restaurants
            </NavLink>
        </div>
    </div>
</nav>